@import url("https://fonts.googleapis.com/css?family=Yatra One");

body {
  font-family: Blinker, sans-serif;
  letter-spacing: 0.1rem;
  overflow-x: hidden;
  background-image: url(../image/template/jess-bailey-5xjw079i6Q4-unsplash.jpg);
  background-size: cover;
}

.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-family: Blinker, sans-serif;
  color: black;
}

.navbar-links {
  height: 100%;
  float: initial;
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
  padding-bottom: 1rem;
  color: black;
}

.navbar-links li {
  list-style: none;
  margin-right: 2rem;
  color: black;
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  color: black;
  padding: 1rem;
  font-size: 1.4rem;
  letter-spacing: 0.1;
}


.navbar-links :hover {
  color: darkgoldenrod !important;
  transition: all 0.3s ease;
}

.container {
  width: 900px;
  background-color: white;
  height: 600px;
  border-radius: 10px;
  padding-bottom: 100px;
  border-radius: 0px 30px 0px 30px; 
  border-bottom: 7px solid darkslategray;
  border-right: 7px solid darkslategray;
  margin-bottom: 20px;
  margin-left: 40%;
  margin-top: 8rem;
  
}





