<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BlogIN</title>
  <link rel="icon" href="../image/template/blog_in.png" type="image/png" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet" />

  <link rel="stylesheet" href="../css/main.css">
</head>

<body>
  <nav class="navbar">
     <div>
       <img src="../image/template/blog_in.png" alt="" style="width: 120px;height: 120px">

    </div>
    <div class="navbar-links">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/add">Create New Blog</a></li>
        <li><a href="/view">View other's Blogs</a></li>
        <li><a href="/mine">My Blogs</a></li>
        <li><a href="/contact">Contact </a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </div>
  </nav>
  <div class="main">

    <div class="container">
      <center> <img src="../image/template/Untitled_design-removebg-preview.png" alt=" " width="200px" height="200px">
        <p style="font-size:50px;padding-top:40px;font-weight:bold">OOPS! <br> Error 404: Page Not Found</p>
      </center>

    </div>
  </div>
  </div>

</body>

</html>